body {
  background-color: #2c3e50;
  font-family: 'Helvetica Neue', sans-serif;
  color: #ecf0f1;
  text-align: center;
  margin-top: 150px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#counter {
  font-size: 48px;
  margin: 20px;
  color: #2ecc71;
}

button#incrementBtn {
  background-color: #27ae60; 
}

button#decrementBtn {
  background-color: #e74c3c; 
}

button#resetBtn {
  background-color: #3498db; 
}

/* General button styles */
button {
  font-size: 18px;
  padding: 12px 25px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ecf0f1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


/* Media queries for responsive design */

/* For tablets and smaller devices */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  #counter {
    font-size: 36px;
  }

  button {
    font-size: 16px;
    padding: 12px 24px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  #counter {
    font-size: 28px;
  }

  button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
